<style>table{width: 800px} .left, .right{border: 2px solid black; width: 450px; margin: 10px; padding: 10px; vertical-align: top; display: inline-block;}</style>
<h3><a href="/sessions" data-method='delete'>Logout</a></h3>
<h3> Name: <%= @borrower.first_name %>  <%= @borrower.last_name %></h3>
<h3>Amount needed:<%= @lender.money %></h3>
<h3>Amount raised :<%= @borrower.money%></h3>
<p>List of people who lend you money</p>
<table border='1'>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Amount lent</th>

	</tr>
	<tr>
		<td><%= @lender.first_name %>  <%= @lender.last_name %></td>
		<td><%= @lender.email %></td>
		<td><%= @borrower.money %></td>

	</tr>

</table>



